h1{
    border-bottom: 1px solid black;
    padding-left: 10px;
}
.jellemzes{
    list-style: none;
    border: 1px dotted gray;
    padding: 10px;
}
.allergen ,.allergen li{
    color: rgb(230, 54, 54);
    font-weight: bold;
    list-style: none;
}
