.migJellemzes{
    list-style: none;
    border: 1px dotted gray;
    padding: 10px;
    box-shadow: 10px 10px rgb(136, 113, 83);
}
.migAllergen ,.migAllergen li{
    color: rgb(230, 54, 54);
    font-weight: bold;
    list-style: none;
    flex: 0 0 100%;
}
article{
    display: flex;
    flex-wrap: wrap;
}
.mignon1{
    flex: 0 0 20%;

}
.migKep{
    flex: 0 1 70%;
    box-shadow: 10px 10px rgb(136, 113, 83);

}
.migKep img{
    width: 100%;
}
.mignon{
    flex: 0 0 40%;
}
@media screen and (max-width: 700px){

    .mignon1{
        flex: 0 0 100%;
    
    }
    .migKep{
        flex: 0 1 100%;
    
    }
    .migKep img{
        width: 100%;
    }
    .mignon{
        flex: 0 0 100%;
    }
}
