* {
    box-sizing: border-box;
}

main {
    width: 80%;
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

header {
    flex: 0 0 100%;
}

article {
    flex: 0 0 70%;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    padding: 10px;
}

section {
    flex: 1 0 25%;
}

article section img {
    height: 200px;
    width: 200px;
}

nav {
    flex: 0 0 30%;
    background-color: pink;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: pink;
}
  
nav li a {
    display: block;
    color: #530038;
    padding: 8px 16px;
    text-decoration: none;
}
  
nav li a:hover:not(.active) {
    background-color: #46003c;
    color: pink;
}
.migJellemzes{
    list-style: none;
    border: 1px dotted gray;
    padding: 10px;
}
.migAllergen ,.migAllergen li{
    color: rgb(230, 54, 54);
    font-weight: bold;
    list-style: none;
}