* {
    box-sizing: border-box;
}

body {
    background-image: url(kepek/hatter5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: cursive;
}

main {
    width: 80%;
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    background-color: antiquewhite;
    border: #46003c solid 2px;
    box-shadow: 20px 20px rgb(190, 112, 190);
}

header {
    flex: 0 0 100%;
    border: #46003c solid 2px;
    padding: 40px;
    text-align: center;
    background: pink;
    color: #530038;
    font-size: 30px;
}

article {
    flex: 0 0 70%;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    padding: 10px;
}

section {
    flex: 1 0 25%;
    background-color:burlywood;
    box-shadow: 10px 10px rgb(136, 113, 83);
}

article section img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 200px;
}

nav {
    flex: 0 0 30%;
    background-color: pink;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: pink;
}
  
nav li a {
    display: block;
    color: #530038;
    padding: 8px 16px;
    text-decoration: none;
}
  
nav li a:hover:not(.active) {
    background-color: #46003c;
    color: pink;
}
.migJellemzes{
    list-style: none;
    border: 1px dotted gray;
    padding: 10px;
}
.migAllergen ,.migAllergen li{
    color: rgb(230, 54, 54);
    font-weight: bold;
    list-style: none;
}